<div class="main">
    <section class="task-section" ng-controller="TaskListController">

        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">List of tasks</h3>
                    </div>
                    <div class="panel-body text-center">
                        <a class="btn btn-success" ui-sref="task-new">Create Task</a>
                        <br/>
                        <hr/>
                        <div class="task-list">
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="task in tasks">
                                    <span>{{$index+1}}. {{task.text}}</span>
                                    <br/>
                                    <button class="btn btn-sm btn-danger" ng-click="remove(task)">Remove</button>
                                    <a class="btn btn-sm btn-success" ui-sref="task-edit({taskId: task.id})">Edit</a>

                                </li>

                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</section>
</div>