<div class="main">
    <section class="comment-section" >

        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">List of task comments</h3>
                    </div>
                    <div class="panel-body text-center">
                        <a class="btn btn-success" ui-sref="task-comments-new({taskId: taskID})">Create Comment</a>
                        <a class="btn btn-default" ui-sref="tasks">Back to tasks</a>
                        <br/>
                        <hr/>
                        <div class="task-list">
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="comment in comments">
                                    <span>{{ $index + 1 }}. {{ comment.text }}</span>
                                    <span class="badge">{{ comment.user }}</span>
                                    <br/>
                                    <button class="btn btn-sm btn-danger" ng-click="remove(comment)">Remove</button>
                                    <a class="btn btn-sm btn-success" ui-sref="task-comments-edit({taskId: taskID, commentId: comment.id})" >Edit</a>
                                </li>

                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</section>
</div>