<ul class="list-group">
    <li class="list-group-item">
        <p>
        <button class="btn btn-success" ui-sref="task-comments-new({taskId: taskId})">Create Comment</button>
        <button class="btn btn-default" ui-sref="tasks">Back to Tasks</button>
    </li>
    <li class="list-group-item" ng-repeat="comment in comments">
        <p>
            <span> {{$index + 1}}. {{ comment.text }}    </span><br/>
            <span class="badge">created by: {{ comment.user }}</span>
            <span style="float: right">
                <a href="" ui-sref="task-comments-edit({commentId: comment._id, taskId: taskId})">Edit</a>&nbsp;
                <a href="" ng-click="remove(comment)">Remove</a>&nbsp;
            </span>
        </p>
    </li>
</ul>