<ul class="list-group">
    <!--<pre>{{tasks|json}}</pre>-->
    <li class="list-group-item">
        <a ui-sref="task-comment-new({taskId: taskId})" class="btn btn-success">New Comment</a>
        <a ui-sref="tasks" class="btn btn-default">Back to Tasks</a>
    </li>
    <li class="list-group-item" ng-repeat="comment in comments">
        <span>{{ $index + 1 }}. {{ comment.text }}</span>
        <span class="badge">created by: {{ comment.user }}</span>
        <a href="" ui-sref="task-comment-edit({taskId: taskId, commentId: comment._id})">Edit</a>&nbsp;
        <a href="" ng-click="remove(comment)">Remove</a>&nbsp;
    </li>
</ul>