<div class="panel panel-info">
	  <div class="panel-heading">
			<div class="panel-title">Comments
          <span class="badge">{{commentsCount}}</span>
            </div>
	  </div>
	  <div class="panel-body">
          <ul class="list-group">
              <div class="list-group">
                  <p class="list-group-item ">
                      <a type="button" class="btn btn-default " ui-sref="comments.new({taskId: taskId})">Add
                          Comment</a>
                      <a type="button" class="btn btn-default" history-back>Back</a>
                  </p>
              </div>
              <span class="list-group-item" ng-if="!comments.length">no comments</span>

              <li class="list-group-item" ng-repeat="comment in comments" style="margin-bottom: 12px;">
                  <div>
                      <!--<pre>{{comment | json}}</pre>-->
                      <span class="text-info text-capitalize">{{$index+1}}. {{comment.text}}</span>
                      <a class="pull-right text-danger" style="margin-right:10px; margin-left:5px;"
                         ng-click="remove(comment)">remove</a>
                      <a class="pull-right" style="margin-right:10px; margin-left:5px;" ui-sref="comment.edit({commentId: comment._id, taskId: comment.task})">Edit</a>
                  </div>
                  <span class="text-info text-capitalize badge">added by: {{comment.creator.name}}</span>
              </li>
          </ul>
	  </div>
</div>

<!--<div ui-view></div>-->
