<form role="form" ng-submit="save()">
    <legend>Add task</legend>

    <div class="form-group">
        <label for="">Add task</label>
        <input type="text" class="form-control" name="" id="" placeholder="Task text..." autofocus autocomplete="off"
               required
               ng-model="task.text">

        <p ng-if="formErrors" class="text-danger" ng-repeat="error in formErrors">{{error}}</p>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="button" class="btn btn-default" ui-sref="tasks">Back</button>
</form>