<div class="col-md-6 col-lg-offset-3">
    <form role="form" ng-submit="save()">
        <legend>{{formLegend}}</legend>

        <div class="form-group">
            <label for="tasktext">Task text</label>
            <textarea cols="4" class="form-control" name="tasktext" id="tasktext" placeholder="Task text..."
                      ng-model="task.text" autocomplete="off" required/>
            <span class="text-danger" ng-repeat="taskTextError in taskTextErrors">{{taskTextError}}</span>
        </div>
        <div class="form-group">
            <!--<label for="multipleSelect"> Multiple select: </label><br>-->
            <!--<select name="multipleSelect"-->
            <!--id="multipleSelect"-->
            <!--ng-options="user.name for user in users track by user._id"-->
            <!--ng-model="task.users"-->
            <!--multiple>-->
            <!--</select><br>-->
            <ui-select multiple ng-model="task.users" class="" theme="bootstrap">
                <ui-select-match placeholder="Select user...">{{$item.name}}</ui-select-match>
                <ui-select-choices repeat="user in users | filter:$select.search">
                    {{user.name}}
                </ui-select-choices>
            </ui-select>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
        <a type="button" class="btn btn-default" history-back>Back</a> <br/>
    </form>
</div>
